.calculator-view {
  top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
}

.button-row {
  display: flex;
}

.button-row input {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  color: #000;
  font-weight: 900;
  font-size: 25px;
  border: 1px solid #000 ;
}
